
body{
    background-color: rgb(4, 68, 105);
}
.title{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-left: -320px;
}
.hobbies {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
}
.hobbies ul{
    border: 1px solid skyblue;
    background-color: darkkhaki;
    width: 100%;
    max-width: 32%;
    display: flex;
    gap: 20px;
}

.hobbies ul li {
    display: flex;
    margin: 10px 0;
    flex-direction: row;
    color: blue;
    /* float: right; */
    

}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.picture img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
